#!
name: OpenSSF Scorecard Analysis
on:
  schedule:
    # Saturdays at 02:15 UTC
    - cron: "15 2 * * 6"
    # Wednesdays at 02:15 UTC
    - cron: "15 2 * * 3"
  workflow_dispatch:
permissions:
  contents: read
jobs:
  scorecard-analysis:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: ossf/scorecard-action@f49aabe0b5af0936a0987cfb85d86b75731b0186 # v2.4.1
        with:
          results_file: results.sarif
          results_format: sarif
          publish_results: true
      - uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: results.sarif
